@import './base/settings';
@import './base/base';

// Components
@import './components/auth';
@import './components/buttons';
@import './components/links';
@import './components/journal';
@import './components/nothing';
@import './components/notes';

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: teal #363636;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #363636;
  }

  *::-webkit-scrollbar-thumb {
    background-color: teal;
    border-radius: 5px;
  }